<h4>All Students</h4>

<% @students.each do |student| %>
  <%= image_tag student.image, :class => 'thumb' if student.image.present? %>
  <ul>
    <li>Name: <%= link_to student.name, student %></li>
    <li>Age: <%= student.age %></li>
    <li>Stage: <%= student.stage %></li>
  </ul>
<% end %>




