<h1>All Tutors</h1>

<% @tutors.each do |tutor| %>

  <ul>
    <li>Name: <%= link_to tutor.name, tutor %></li>
    <li>Email: <%= tutor.email %></li>
    <li>Stage: <%= tutor.stage %></li>
    <li>Subject: <%= tutor.subject %></li>
  </ul>
<% end %>
