<div class="row">
  <div class="col-md-11 offset-md-1">
    <h4 class="heading">New Program</h4>
  </div>
</div>

<p>
    <%= render 'form' %>
</p>

<div class="row">
  <div class="col-md-11 offset-md-1"> 
    <%= link_to 'Back', programs_path %>
  </div>
</div>