
<p><%= flash[:notice]%> </p>
    <h5 class="heading"> A Key Learning Area (KLA) is a subject or discipline within the primary education field. </h5>
<br>

    <p>

    <p>Key Learning Areas for <%= @program.subject %> : </p>

    <p><%= @program.kla %></p>

    <br>

   <%= link_to 'Back', programs_path %>
 