
<h4 class="heading">SAIL PROGRAM</h4>
<p>The Sudanese Australian Integrated Learning (SAIL) Program is a completely volunteer-run, non-profit, secular organisation which provides free tutoring and educational support to the Sudanese Australian community.

The SAIL Program operates every Saturday morning, between mid-February and late December in Melbourne, Sydney and Perth. SAIL offers tutoring to approximately 300 members of the Sudanese community and has a volunteer staff of around 180 people.
        
<a href="http://www.sailprogram.org.au/site/">Read more ... </a></p>

    
<div class="latestnews">
    <h4> Latest news </h4>
    <p>
        <br><strong>Updated at:</strong><%= @article.updated_at %></br>
        <br><strong>Title:</strong> <%= @article.title %></br>
        <br><strong>Description:</strong> <%= @article.text %></br>
    </p>
</div>
    
    
    
    
