<div class="row">
  <div class="col-md-11 offset-md-1">
    <h4 class="heading">SAIL PROGRAM</h4>

    <p> The Sudanese Australian Integrated Learning (SAIL) Program is a completely volunteer-run, non-profit, secular organisation which provides free tutoring and educational support to the Sudanese Australian community.

        The SAIL Program operates every Saturday morning, between mid-February and late December in Melbourne, Sydney and Perth. SAIL offers tutoring to approximately 300 members of the Sudanese community and has a volunteer staff of around 180 people.
            

        <a href="http://www.sailprogram.org.au/site/">Read more ... </a></p>


        <p><strong>Our tutors</strong> are immersed within the academic world of their chosen field, they are always up to date with the latest ideas and developments.</p> 


        <h5 class="heading"> Latest news </h5>
            <br><strong>Updated at:</strong><%= @article.updated_at %></br>
            <br><strong>Title:</strong> <%= @article.title %></br>
            <br><strong>Description:</strong> <%= @article.text %></br>
    </p>
    
    
    
    
