
<div class="row">
<div class="col-md-1"></div>
  

  <div class="col-md-5">

    <h5 class="heading">Become a volunteer tutor today</h5>
    <img src="https://3.bp.blogspot.com/_MJFestExy9U/S3jujOCIIhI/AAAAAAAAA68/xIxOzM-5ZoM/s320/4+-+open+book.jpg" class="pull-left">
    <p><strong> The Right to Education.</strong>  Every child should have a chance to receive good education. Sign up today. </p> 
  </div>
  <div class="col-md-6">
    <h5 class="heading">SAIL Program</h5>

    <p> The Sudanese Australian Integrated Learning (SAIL) Program is a completely volunteer-run, non-profit, secular organisation which provides free tutoring and educational support to the Sudanese Australian community.

        The SAIL Program operates every Saturday morning, between mid-February and late December in Melbourne, Sydney and Perth. SAIL offers tutoring to approximately 300 members of the Sudanese community and has a volunteer staff of around 180 people.       
        
      <a href="http://www.sailprogram.org.au/site/">Read more ... </a>

    </p>
</div>

  
    </div>
</div>

    <br>
      <div class="d-flex">
        <div class="p-2">
          <div class="p-3 border bg-light">
          <h6 class"heading"> Latest news </h6>
              <p><small><strong>Updated at:</strong><%= @article.updated_at %></small></p>
              <p><small><strong>Title:</strong> <%= @article.title %></small></p>
              <p><small><strong>Description:</strong> <%= @article.text %></small></p>
          </div>
        </div>  
      </div>
    </br>   
    
    
    
    
