
<div class="homepage">
    <div class="sailprogram">
        <h1>SAIL PROGRAM</h1>
        <p>Sudanese Australian Integrated Learning (SAIL) Program <a href="http://www.sailprogram.org.au/site/">Find out more ... </a></p>
    </div>

    <div class="latestnews">
        <h2> Latest news </h2>
    </div>
        <p>
            <br><strong>Updated at:</strong><%= @article.updated_at %></br>
            <br><strong>Title:</strong> <%= @article.title %></br>
            <br><strong>Description:</strong> <%= @article.text %></br>
        </P>
     </div>

</div>


