// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


th, td {
    border: 1px solid black;
    padding:6px 20px;
  }

  th {
    background-color: rgb(60, 77, 131);
  }

  .container {
    display: flex;
    flex-direction: row;
    // background-color: bisque;

 }