// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage {
    display:flex;
    flex-direction: column;  
}

.sailprogram {
    display:flex;
    flex-direction: column;
    text-align: left;
}

.latestnews {
    border-style: outset;
    background-color: #ddd;
    color: black;
    font-size: 10px;
    width: 100%;
    text-transform: uppercase;
}